<section id="dashboard-view">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="widget wviolet">
            <div ht-widget-header title="User List"  allow-collapse="true"></div>
            <div class="widget-content text-center text-info">


              <button class="btn" style="float: right;" data-toggle="modal" data-target="#AddUserModal" ng-click="vm.clearFields()"><span class="glyphicon glyphicon-plus"></span> Add User</button>
              <table class="table table-condensed" st-table="displayedData" st-safe-src="vm.haha">
                <thead>
                <tr>
                  <th ><select name="SearchBy" ng-model="vm.Searchby" style="width: 100%" class="form-control" >
                    <option value="">Global Search</option>
                    <option value="firstName">First Name</option>
                    <option value="lastName">Last Name</option>
                    <option value="email">Email</option>
                  </select></th>
                  <th ><input st-search="{{vm.Searchby}}" class="form-control" style="width: 100%" type="text"/></th>
                </tr>
                <tr>
                  <th></th>
                  <th class="clickables" st-sort="lastName" st-delay="0">Details</th>
                  <th style="text-align: center">Permissions</th>
                  <th style="text-align: center">Actions</th>
                </tr>

                </thead>

                <tbody>

                <tr ng-repeat="p in displayedData track by $index" class="clickables" >
                  <td style="width: 10%;  text-align: center;"><img ng-src="{{p.userImage}}" style="border-radius: 100%; height: 70px; width: 70px;"/></td>
                  <td style="vertical-align: middle; width: 25%;">
                      <strong style="font-size: 120%">{{p.firstName + " " + p.lastName}}</strong><br>
                      {{p.email}}<br>
                      {{p.contactNumber}}
                  </td>
                  <td style="vertical-align: middle; text-align: center;"><strong>
                    <span style="color: {{vm.permission(p,0)}}"> POS </span> |
                    <span style="color: {{vm.permission(p,1)}}"> Inventory </span> |
                    <span style="color: {{vm.permission(p,2)}}"> Sales </span></strong>
                  </td>
                  <td style="text-align: center; vertical-align: middle; ">
                    <button  style="padding: 5px 8px; border-radius: 100%; border: 0px; background-color: #0f608b;" ng-click="vm.collectData($index,p)" data-toggle="modal" data-target="#EditUserModal"><span class="glyphicon glyphicon-edit" style="color: white;"></span></button>
                    <button style="padding: 5px 8px; border-radius: 100%; border: 0px; background-color: red;" data-toggle="modal" data-target="#DeleteConfirmModal" ng-click="vm.collectData($index,p)"><span class="glyphicon glyphicon-remove" style="color: white;"></span></button>
                  </td>
                 <!-- <td><a class="remove" ng-click="vm.collectData($index,p.firstName,p.lastName)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-remove"> </span> Remove</a></td>
              -->  </tr>

                </tbody>
                <tfoot>
                <tr>

                  <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                  </td>
                </tr>
                </tfoot>

              </table>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</section>

<div class="modal fade" id="AddUserModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal - ADD USER -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>
        <div class="modal-body">

          <form name="vm.myForm" id="a">

            <h5><strong>Personal Data</strong></h5>

            <center><img ng-src="{{vm.UserImage}}" style="border-radius: 100%; height: 150px; width: 150px;"/></center>
            <br>

          <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

            <div class="col-sm-4 form-group" ng-class="{'has-error has-feedback':(vm.myForm.firstName.$dirty || vm.myForm.firstName.$touched) && vm.myForm.firstName.$invalid}">
              <label class="fields-label">First Name</label>
              <input data-toggle="tooltip" title="" type="text" name="firstName" id="fn" class="fields form-control" ng-model="vm.Fname" required ng-pattern="/^[a-zA-Z]+$/">
              <span class="glyphicon glyphicon-remove error-icon form-control-feedback" ng-show="(vm.myForm.firstName.$dirty || vm.myForm.firstName.$touched) && vm.myForm.firstName.$invalid"></span>
            </div>

            <div class="col-sm-4">
              <label class="fields-label">Middle Name</label>
              <input type="text" name="middleName" class="fields" ng-model="vm.Mname" required>
            </div>

            <div class="col-sm-4">
              <label class="fields-label">Last Name</label>
              <input type="text" name="lastName" class="fields" ng-model="vm.Lname" required ng-pattern="/^[a-zA-Z]+$/">
              <span style="color:red" ng-show="vm.myForm.lastName.$touched && vm.myForm.lastName.$invalid">
                <span ng-show="vm.myForm.lastName.$error.required"><span class="glyphicon glyphicon-remove"></span> Last Name is required</span>
                <span ng-show="vm.myForm.lastName.$error.pattern"><span class="glyphicon glyphicon-remove"></span> Invalid last name</span>
              </span>
            </div>

          </div>

            <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

            <div class="col-sm-6">
              <label class="fields-label">Email</label>
              <input type="email" name="email" class="fields" ng-model="vm.email" required>
              <span style="color:red" ng-show="vm.myForm.email.$touched && vm.myForm.email.$invalid">
                <span ng-show="vm.myForm.email.$error.required"><span class="glyphicon glyphicon-remove"></span> Email is required.</span>
                <span ng-show="vm.myForm.email.$error.email"><span class="glyphicon glyphicon-remove"></span> Invalid email address.</span>
              </span>
            </div>

            <div class="col-sm-6">
              <label class="fields-label">Contact Number</label>
              <input type="tel" name="number" class="fields" ng-model="vm.cNum" ng-minlength="7" required ng-pattern="/^[0-9]+$/">

              <span style="color:red" ng-show="vm.myForm.number.$touched && vm.myForm.number.$invalid">
                <span ng-show="vm.myForm.number.$error.required"><span class="glyphicon glyphicon-remove"></span> Contact Number is required.</span>
                <span ng-show="vm.myForm.number.$error.pattern || vm.myForm.number.$error.minlength"><span class="glyphicon glyphicon-remove"></span> invalid Contact Number.</span>
              </span>
            </div>

            </div>

            <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

            <div class="col-sm-6">
              <label class="fields-label">Password</label>
              <input type="password" name="password" class="fields" ng-model="vm.Pass" ng-minlength="4" ng-change="vm.clearCP()" ng-maxlength="10" required>
              <span style="color:red" ng-show="vm.myForm.password.$touched && vm.myForm.password.$invalid">
                <span ng-show="vm.myForm.password.$error.required"><span class="glyphicon glyphicon-remove"></span> Password is required.</span>
                <span ng-show="vm.myForm.password.$error.maxlength || vm.myForm.password.$error.minlength"><span class="glyphicon glyphicon-remove"></span> Minimum of 4 and maximum of 10 characters.</span>
              </span>
            </div>

            <div class="col-sm-6">
              <label class="fields-label">Confirm Password</label>
              <input type="password" name="passwordConfirm" class="fields" ng-model="vm.cPass"  maxlength="10" ng-change="vm.checkPass('aPassConf')" required>
              <span style="color:red" ng-show="vm.myForm.passwordConfirm.$touched && vm.myForm.passwordConfirm.$invalid">
                 <span ng-show="vm.myForm.passwordConfirm.$error.required"><span class="glyphicon glyphicon-remove"></span> Type again your password</span>
              </span>
              <span id="aPassConf" style="color:red; display: none;"><span class="glyphicon glyphicon-remove"></span> Password not the same</span >

            </div>

            </div>
            <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

            <div class="col-sm-6">
              <label class="fields-label">Date of Birth</label>
              <input type="date" name="birthDate" ng-model="vm.Bday" class="fields" min="" max="2017-01-01" required>
            </div>

            <div class="col-sm-6">
              <label class="fields-label" >Gender</label>
              <select name="gender" id="genderReg" class="fields" ng-model="vm.Gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              <span style="color:red" ng-show="vm.myForm.gender.$touched && vm.myForm.gender.$invalid">
                 <span ng-show="vm.myForm.gender.$error.required"><span class="glyphicon glyphicon-remove"></span> Gender is required</span>
              </span>
            </div>

            </div>
            <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

            <div class="col-sm-6">
              <label class="fields-label">Complete Address</label>
              <input type="text" name="address" class="fields" ng-model="vm.Add" required>
            </div>

            <div class="col-sm-6" style="padding-bottom: 10px">
              <label class="fields-label">Country</label>
              <select id="countryReg" class="fields" ng-model="vm.Country" selected="vm.Country">
                <option value="Phlippines">Philippines</option>
                <option value="Bahamas">Bahamas</option>
                <option>Cambodia</option>
                <option>Denmark</option>
                <option>Ecuador</option>
                <option>Fiji</option>
                <option>Gabon</option>
                <option>Haiti</option>
              </select>
            </div>

            </div>

            <h5 ><strong>Permissions</strong></h5>
            <label class="col-lg-4"><input id="aPOS" type="checkbox">P.O.S.</label>
            <label class="col-lg-4"><input id="aInventory" type="checkbox">Inventory</label>
            <label class="col-lg-4"><input id="aSales" type="checkbox">Sales</label>
            <div style="padding: 10px"></div>

          </form>

        </div>

        <div class="modal-footer" >
          <button class="btn btn-success" ng-disabled="vm.myForm.$invalid" style="margin-top: 20px;" data-dismiss="modal" ng-click="vm.addAccount()">Add</button>
          <button type="button" style="margin-top: 20px;" class="btn btn-default" data-dismiss="modal" >Cancel</button>
        </div>

    </div>

  </div>
</div>


 <!-- Modal - EDIT USER -->
  <div class="modal fade" id="EditUserModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal -->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Edit User</h4>
       </div>
       <div class="modal-body">

         <form name="vm.myEditForm">
           <h5><strong>Personal Data</strong></h5>

           <div style="width: inherit; padding-left: 35%;">
             <div style="position:relative;  width: 150px; height: 150px;">
               <label for="changePic" >
                 <img  ng-src="{{vm.UserImage}}" class="uImage" id="editImage"/>
                 <span class="glyphicon glyphicon-edit imgDescription" style="padding-top: 37%;padding-left: 40%; text-align: left;"></span>
              </label>
              <div style="display: none">
                <input type="file" id="changePic" accept="image/*">
               </div>
            </div>
           </div>
           <br>

           <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

           <div class="col-sm-4">
             <label class="fields-label">First Name</label>
             <input type="text" name="firstName" class="fields" ng-model="vm.Fname" required ng-pattern="/^[a-zA-Z]+$/">
             <span style="color:red" ng-show="vm.myEditForm.firstName.$touched && vm.myEditForm.firstName.$invalid">
                <span ng-show="vm.myEditForm.firstName.$error.required"><span class="glyphicon glyphicon-remove"></span> First Name is required</span>
                <span ng-show="vm.myEditForm.firstName.$error.pattern"><span class="glyphicon glyphicon-remove"></span> Invalid name</span>
              </span>
           </div>

           <div class="col-sm-4">
             <label class="fields-label">Middle Name</label>
             <input type="text" name="middleName" class="fields" ng-model="vm.Mname">
           </div>

           <div class="col-sm-4">
             <label class="fields-label">Last Name</label>
             <input type="text" name="lastName" class="fields" ng-model="vm.Lname" required ng-pattern="/^[a-zA-Z]+$/">
             <span style="color:red" ng-show="vm.myEditForm.lastName.$touched && vm.myEditForm.lastName.$invalid">
                <span ng-show="vm.myEditForm.lastName.$error.required"><span class="glyphicon glyphicon-remove"></span> Last Name is required</span>
                <span ng-show="vm.myEditForm.lastName.$error.pattern"><span class="glyphicon glyphicon-remove"></span> Invalid last name</span>
              </span>
           </div>
           </div>

           <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

           <div class="col-sm-6">
             <label class="fields-label">Email</label>
             <input type="email" name="email" class="fields" ng-model="vm.email" required>
             <span style="color:red" ng-show="vm.myEditForm.email.$touched && vm.myEditForm.email.$invalid">
                <span ng-show="vm.myEditForm.email.$error.required"><span class="glyphicon glyphicon-remove"></span> Email is required.</span>
                <span ng-show="vm.myEditForm.email.$error.email"><span class="glyphicon glyphicon-remove"></span> Invalid email address.</span>
              </span>
           </div>

           <div class="col-sm-6">
             <label class="fields-label">Contact Number</label>
             <input type="tel" name="number" class="fields" ng-model="vm.cNum" ng-minlength="7" required ng-pattern="/^[0-9]+$/">

             <span style="color:red" ng-show="vm.myEditForm.number.$touched && vm.myEditForm.number.$invalid">
                <span ng-show="vm.myEditForm.number.$error.required"><span class="glyphicon glyphicon-remove"></span> Contact Number is required.</span>
                <span ng-show="vm.myEditForm.number.$error.pattern || vm.myEditForm.number.$error.minlength"><span class="glyphicon glyphicon-remove"></span> invalid Contact Number.</span>
              </span>
           </div>

           </div>
           <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

           <div class="col-sm-6">
             <label class="fields-label">Password</label>
             <input type="password" name="password" class="fields" ng-model="vm.Pass" ng-minlength="4" ng-change="vm.clearCP()" ng-maxlength="10" required>
             <span style="color:red" ng-show="vm.myEditForm.password.$touched && vm.myEditForm.password.$invalid">
                <span ng-show="vm.myEditForm.password.$error.required"><span class="glyphicon glyphicon-remove"></span> Password is required.</span>
                <span ng-show="vm.myEditForm.password.$error.maxlength || vm.myEditForm.password.$error.minlength"><span class="glyphicon glyphicon-remove"></span> Minimum of 4 and maximum of 10 characters.</span>
              </span>
           </div>

           <div class="col-sm-6">
             <label class="fields-label">Confirm Password</label>
             <input type="password" name="passwordConfirm" class="fields" ng-model="vm.cPass"  maxlength="10" ng-change="vm.checkPass('ePassConf')" required>
             <span style="color:red" ng-show="vm.myEditForm.passwordConfirm.$touched && vm.myEditForm.passwordConfirm.$invalid">
                 <span ng-show="vm.myEditForm.passwordConfirm.$error.required"><span class="glyphicon glyphicon-remove"></span> Type again your password</span>
              </span>
             <span id="ePassConf" style="color:red; display: none;"><span class="glyphicon glyphicon-remove"></span> Password not the same</span >

           </div>
           </div>
           <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

           <div class="col-sm-6">
             <label class="fields-label">Date of Birth</label>
             <input type="date" name="birthDate" ng-model="vm.Bday" class="fields" min="" max="2017-01-01" required>
           </div>

           <div class="col-sm-6">
             <label class="fields-label">Gender</label>
             <select id="gender" class="fields" ng-model="vm.Gender" required>
               <option value="male">Male</option>
               <option value="female">Female</option>
             </select>
             <span style="color:red" ng-show="vm.myEditForm.gender.$touched && vm.myEditForm.gender.$invalid">
                 <span ng-show="vm.myEditForm.gender.$error.required"><span class="glyphicon glyphicon-remove"></span> Gender is required</span>
              </span>
           </div>
           </div>
           <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

           <div class="col-sm-6">
             <label class="fields-label">Complete Address</label>
             <input type="text" name="address" class="fields" ng-model="vm.Add" required>
           </div>

           <div class="col-sm-6" style="padding-bottom: 10px">
             <label class="fields-label">Country</label>
             <select id="country" class="fields" ng-model="vm.Country" selected="vm.Country">
               <option value="Phlippines">Philippines</option>
               <option value="Bahamas">Bahamas</option>
               <option>Cambodia</option>
               <option>Denmark</option>
               <option>Ecuador</option>
               <option>Fiji</option>
               <option>Gabon</option>
               <option>Haiti</option>
             </select>
           </div>
           </div>

         <h5 ><strong>Permissions</strong></h5>

          <label class="col-lg-4"><input name="pos" id="ePOS" type="checkbox" ng-model="vm.pos" ng-change="vm.CheckboxVC()">P.O.S.</label>
          <label class="col-lg-4"><input name="invent" id="eInventory" type="checkbox" ng-model="vm.invent" ng-change="vm.CheckboxVC()">Inventory</label>
          <label class="col-lg-4"><input name="sales" id="eSales" type="checkbox" ng-model="vm.sales" ng-change="vm.CheckboxVC()">Sales</label>
         <div style="padding: 15px"></div>

         </form>

       </div>

       <div class="modal-footer" >
         <button class="btn btn-success" ng-disabled=" !vm.myEditForm.$invalid && vm.myEditForm.$pristine && !vm.checkchanged && !$scope.picChanged" data-toggle="modal" data-target="#EditConfirmModal" >Edit</button>
         <!--<button class="btn btn-danger"  data-toggle="modal" data-target="#DeleteConfirmModal">Delete</button>-->
         <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
       </div>

     </div>

   </div>
 </div>




<!-- DELETE -->
<div id="DeleteConfirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <strong>{{vm.Fname + " " + vm.Lname}}</strong> from the user list?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.removeAccount()">Confirm</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>



<!-- EDIT - SAVE CHANGES -->

<div id="EditConfirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to save the changes made in the account of <strong>{{vm.Fname + " " + vm.Lname}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.editAccount()">Confirm</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>

<!--

<div >
<div id="LogIn" class="modal fade show" role="dialog" style="top: 50%;margin-top: -150px;">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <center><h2>CMM 2017</h2></center>
        <div style="padding: 2%"></div>
        <form name="LogInForm">
          <input class="fields" type="text" placeholder="Email" ng-model="vm.LogInEmail" required>
          <input class="fields" type="password" placeholder="Password" ng-model="vm.LogInPass" required>
          <center><span id="LogInError" style="color:red; display: none;"><span class="glyphicon glyphicon-remove"></span> {{vm.errorMsg}}</span ></center>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-disabled="LogInForm.$invalid" ng-click="vm.LogIn()">Log In</button>
      </div>
    </div>

  </div>
</div>
</div>
-->
