<div ng-controller="SidebarController as vm">
  <div class="top-menu">
      <ul class="nav navbar-nav top-menu-button " >
        <li  ng-repeat="r in vm.navRoutes" style="background-color: {{vm.color}}" ng-click="vm.titleColor(r)">
          <a class="top-menu-msg" ui-sref="{{r.name}}" ng-click="vm.test(r) " ng-bind-html="r.settings.content"></a>
        </li>
      </ul>
  </div>
</div>
